.technologyPills {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.techPill {
  background-color: #0070f3;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.techPill:hover {
  background-color: #005bb5;
}

.selected {
  background-color: #037009; /* Change to a different color when selected */
}

.projectsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
